In [2]:
import pandas as pd

In [5]:
sales = pd.read_csv("Data/sales.csv")

In [6]:
sales

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

# get column names

In [10]:
sales.columns

Index(['State', 'Total Expenses', 'Product', 'Sales', 'Market Size', 'Profit',
       'Market', 'Marketing', 'Product Type', 'Inventory', 'Type'],
      dtype='object')

In [11]:
sales.columns.str.replace(" ","_")

Index(['State', 'Total_Expenses', 'Product', 'Sales', 'Market_Size', 'Profit',
       'Market', 'Marketing', 'Product_Type', 'Inventory', 'Type'],
      dtype='object')

In [19]:
sales.columns = sales.columns.str.replace(" ","_")

In [20]:
sales.head()

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Marketing,Product_Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf

In [23]:
sales.Product_Type

0           Coffee
1              Tea
2         Espresso
3         Espresso
4       Herbal Tea
           ...
4236           Tea
4237           Tea
4238           Tea
4239           Tea
4240           Tea
Name: Product_Type, Length: 4241, dtype: object

# rename a column

In [27]:
sales.rename(columns={"Profit":"Gain"},inplace=True)

In [29]:
sales

,State,Total_Expenses,Product,Sales,Market_Size,Gain,Market,Marketing,Product_Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

# modifying an actual value

In [30]:
sales.loc[2,"Total_Expenses"] = 500

In [31]:
sales

,State,Total_Expenses,Product,Sales,Market_Size,Gain,Market,Marketing,Product_Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,500.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [34]:
sales.at[2,'Total_Expenses'] = 700 #this is generally faster, so they say

In [35]:
sales

,State,Total_Expenses,Product,Sales,Market_Size,Gain,Market,Marketing,Product_Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,700.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

# adding or removing rows and columns

In [37]:
new_Column = sales['Total_Expenses'] + sales['Sales']

In [38]:
new_Column

0       172.0
1       256.0
2       989.0
3       689.0
4       284.0
        ...
4236    124.0
4237    149.0
4238    236.0
4239    210.0
4240    252.0
Length: 4241, dtype: float64

In [40]:
sales['New_Column'] = new_Column

In [41]:
sales.head()

,State,Total_Expenses,Product,Sales,Market_Size,Gain,Market,Marketing,Product_Type,Inventory,Type,New_Column
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular,172.0
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular,256.0
2,California,700.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular,989.0
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf,284.0

# remove a column

In [43]:
sales.drop(columns=['Product','Market_Size']) #remember that this is not parmanent, to make it so, use the "inplace='True'"

,State,Total_Expenses,Sales,Gain,Market,Marketing,Product_Type,Inventory,Type,New_Column
0,California,63.0,109.0,-131.0,West,40,Coffee,2947.0,Regular,172.0
1,California,55.0,201.0,88.0,West,24,Tea,659.0,Regular,256.0
2,California,700.0,289.0,25.0,West,109,Espresso,788.0,Regular,989.0
3,California,113.0,576.0,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,California,37.0,247.0,148.0,West,26,Herbal Tea,809.0,Decaf,284.0
...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,90.0,20.0,Central,11,Tea,458.0,Regular,124.0
4237,Wisconsin,36.0,113.0,31.0,Central,14,Tea,454.0,Regular,149.0
4238,Wisconsin,86.0,150.0,1.0,Central,57,Tea,506.0,Regular,236.0
4239,Wisconsin,79.0,131.0,-3.0,Central,49,Tea,627.0,Regular,210.0
4240,Wisconsin,87.0,165.0,4.0,Central,58,Tea,513.0,Regular,252.0

# drop row(s)

In [44]:
sales.drop(index=0) #still not parmanent

,State,Total_Expenses,Product,Sales,Market_Size,Gain,Market,Marketing,Product_Type,Inventory,Type,New_Column
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular,256.0
2,California,700.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular,989.0
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf,284.0
5,California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf,681.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular,124.0
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular,149.0
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular,236.0
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular,210.0
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular,252.0

In [45]:
sales.head()

,State,Total_Expenses,Product,Sales,Market_Size,Gain,Market,Marketing,Product_Type,Inventory,Type,New_Column
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular,172.0
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular,256.0
2,California,700.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular,989.0
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf,284.0